* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 1em;
  background-color: #1f2039;
}

.link {
  color: #242424;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

em {
  color: #a5b4fc;
  font-style: normal;
}

#section__h2 {
  color: #242424;
  text-align: center;
  margin-bottom: 30px;
}

.nav__link__icon:hover {
  opacity: 0.5;
}

.header__footer__color__padding__ajust {
  background-color: white;
  padding: 20px 50px;
}

.nav__header__ajust__flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 996px) {
  .nav__header__ajust__flex .nav__header__ajust__flex {
    flex-direction: column;
    justify-content: center;
  }
  .nav__header__ajust__flex .nav__header__ajust__flex img {
    margin-bottom: 20px;
  }
}

.link__ajust__margin {
  margin-left: 30px;
}
@media screen and (max-width: 996px) {
  .link__ajust__margin .link__ajust__margin {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.section__intro {
  display: flex;
  flex-direction: row;
  max-width: 1000px;
  align-items: flex-start;
  margin: auto;
}

@media screen and (max-width: 996px) {
  .section__intro {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.container__intro {
  padding-right: 80px;
}

@media screen and (max-width: 996px) {
  .container__intro {
    padding-right: 0;
    text-align: center;
    order: 2;
  }
}
.container__intro__title {
  font-size: 3.5em;
  color: #a5b4fc;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 15px;
}

@media screen and (max-width: 996px) {
  .container__intro__title {
    font-size: 2em;
  }
}
.container__intro__content {
  margin-bottom: 30px;
  font-size: 1.1em;
  color: #f9f8ff;
}

.section__container__intro__link {
  display: inline-block;
  background: linear-gradient(#8e86b5, #acaeed);
  color: white;
  border-radius: 50px;
  padding: 20px 30px;
}

.section__container__intro__link:hover {
  background: linear-gradient(#696484, #8788ba);
}

@media screen and (max-width: 996px) {
  .section__intro__img {
    order: 1;
    margin-bottom: 20px;
    width: 100%;
  }
}
.section__ajust__padding {
  padding: 80px;
}

@media screen and (max-width: 996px) {
  .section__ajust__padding {
    padding: 50px 20px 50px 20px;
  }
}
.section__project__pictures {
  background-color: white;
}

.container__project {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  margin-bottom: 15px;
}

@media screen and (max-width: 996px) {
  .container__project {
    flex-direction: column;
  }
}
@media screen and (max-width: 996px) {
  .section__project__pictures {
    padding: 20px;
  }
}
.section__contact__form {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: auto;
  color: white;
}

.container__form {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

@media screen and (max-width: 996px) {
  .container__form {
    flex-direction: column;
    gap: 0;
  }
}
.container__form__name_email {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.form__name__email__label {
  margin-bottom: 10px;
  margin-top: 20px;
}

.form__name__email__input {
  padding: 15px;
  border: none;
}

.section__contact__form__input {
  width: 200px;
  margin: auto;
  margin-top: 30px;
}

@media screen and (max-width: 996px) {
  #contact {
    padding: 50px 20px;
  }
}
#section__h2--white {
  color: #f9f8ff;
  margin-bottom: 30px;
  text-align: center;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 1em;
  background-color: #1f2039;
}

.link {
  color: #242424;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

em {
  color: #a5b4fc;
  font-style: normal;
}

#section__h2 {
  color: #242424;
  text-align: center;
  margin-bottom: 30px;
}

.nav__link__icon:hover {
  opacity: 0.5;
}

.header__footer__color__padding__ajust {
  background-color: white;
  padding: 20px 50px;
}

.nav__header__ajust__flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 996px) {
  .nav__header__ajust__flex .nav__header__ajust__flex {
    flex-direction: column;
    justify-content: center;
  }
  .nav__header__ajust__flex .nav__header__ajust__flex img {
    margin-bottom: 20px;
  }
}

.link__ajust__margin {
  margin-left: 30px;
}
@media screen and (max-width: 996px) {
  .link__ajust__margin .link__ajust__margin {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.container__intro__title--portfolio {
  font-size: 3.5em;
  color: #a5b4fc;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 15px;
  padding: 80px;
}

.section__photos {
  background-color: white;
  padding: 80px;
}

.section__h2 {
  color: #242424;
  margin-bottom: 40px;
  text-decoration: underline;
}

.section__h2--portraits {
  margin: 40px 0px 40px 0px;
  text-decoration: underline;
}

.container__grid__paysage {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 300px 300px 300px;
  gap: 15px;
}

.container__grid__portraits {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 300px 300px 300px;
  gap: 15px;
  grid-template-rows: 300px 300px;
}

.container__grid__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.lien__conteneur__photo {
  position: relative;
}

#photo__hover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}

.lien__conteneur__photo:hover #photo__hover {
  display: flex;
}

@media screen and (max-width: 996px) {
  .container__grid__paysage, .container__grid__portraits {
    grid-template-columns: 1fr;
    gap: 15px;
  }
}
* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 1em;
  background-color: #1f2039;
}

.link {
  color: #242424;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

em {
  color: #a5b4fc;
  font-style: normal;
}

#section__h2 {
  color: #242424;
  text-align: center;
  margin-bottom: 30px;
}

.nav__link__icon:hover {
  opacity: 0.5;
}

.header__footer__color__padding__ajust {
  background-color: white;
  padding: 20px 50px;
}

.nav__header__ajust__flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 996px) {
  .nav__header__ajust__flex .nav__header__ajust__flex {
    flex-direction: column;
    justify-content: center;
  }
  .nav__header__ajust__flex .nav__header__ajust__flex img {
    margin-bottom: 20px;
  }
}

.link__ajust__margin {
  margin-left: 30px;
}
@media screen and (max-width: 996px) {
  .link__ajust__margin .link__ajust__margin {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.a__propos__main {
  margin: auto;
  padding: 80px;
  font-family: "Montserrat", sans-serif;
  font-size: 17.6px;
}

.container__intro {
  border-right: 1px solid #8e86b5;
  border-bottom: 1px solid #8e86b5;
  padding: 50px;
  width: 50%;
  margin: auto;
  margin-bottom: 80px;
}

.container__intro__title--a__propos {
  text-align: center;
}

.section__h2 {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.container__intro__list {
  margin-top: 30px;
}

.container__intro + div {
  text-align: center;
}

table {
  color: white;
  text-align: center;
  width: 100%;
  border-collapse: collapse;
}

td,
th {
  padding: 15px;
  border: 1px solid #a5b4fc;
}

td {
  padding: 80px;
}

@media screen and (max-width: 996px) {
  .tableau__tarifs {
    display: none;
  }
}
/* Lancer :  sass --watch main.scss ../main.css */

/*# sourceMappingURL=main.css.map */
