.section__photos {
  background-color: white;
  padding: 80px;
}

.container__intro__title--portfolio{
  font-size: 3.5em;
  color: #a5b4fc;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 15px;
  padding: 80px;
}

.section__h2 {
  color: #242424;
  margin-bottom: 40px;
   text-decoration: underline;
  
}

.section__h2--portraits{
  margin:40px 0px 40px 0px;
  text-decoration: underline;
}

.container__grid__paysage {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 300px 300px 300px;
  gap: 15px;
}

.container__grid__portraits {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 300px 300px;
  gap: 15px;
}

.container__grid__paysage img,
.container__grid__portraits img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.lien__conteneur__photo {
  position: relative;
}

#photo__hover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}

.lien__conteneur__photo:hover #photo__hover {
  display: flex;
}

@media screen and (max-width: 996px) {
  .container__grid__paysage {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .container__grid__portraits {
    grid-template-columns: 1fr;
    gap: 15px;
  }
}
