* {
  margin: 0px;
  padding: 0px;
}


body {
  font-family: 'Manrope', sans-serif;
  font-size: 1em;
  background-color: #1f2039;
}

p,
li {
  font-size: 1.1em;
  color: #f9f8ff;
}

header,
footer {
  background-color: white;
  padding: 20px 50px;
}

a:hover {
  text-decoration: underline;
}

section {
  padding: 80px;
}

footer,
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}



.content__link__icon {
  color: #242424;
  text-decoration: none;
}

.container__intro__title {
  font-size: 3.5em;
  color: #a5b4fc;
  font-family: 'Montserrat', sans-serif;
}

.container__intro__content em {
  color: #a5b4fc;
  font-style: normal;
}

.section__project__subtitle {
  color: #f9f8ff;
}

.section__container__intro__link {
  display: inline-block;
  background: linear-gradient(#8e86b5, #acaeed);
  color: white;
  border-radius: 50px;
  padding: 20px 30px;
}


.section__container__intro__link:hover {
  background: linear-gradient(#696484, #8788ba);
  text-decoration: none;
}

.content__link__icon {
  margin-left: 30px;
}

.content__link__icon:hover {
  opacity: 0.5;
}



.content__link__icon {
  margin-left: 30px;
}

@media screen and (max-width: 996px) {
  header nav {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  header nav img {
    margin-bottom: 20px;
  }

  header,
  footer {
    padding: 20px 20px;
  }

  h1 {
    font-size: 2em;
  }

  section {
    padding: 50px 20px 50px 20px;
  }

  nav a {
    margin-left: 10px;
    margin-right: 10px;
  }
}
